.env
.venv

*.log

env/
venv/

__pycache__/

celery/*
!celery/.gitkeep

logs/*
!logs/.gitkeep

static/*
!static/.gitkeep

media/*
!media/.gitkeep

resources/*
!resources/.gitkeep

trained_models/*
!trained_models/.gitkeep

packages/*
!packages/.gitkeep

*.keras
*.joblib
*.pkl

!src/modules/cities_expansion/geoanalyzer/models/*.pkl

.ipynb_checkpoints/