// Шапка
$light-header-background: rgba(255, 255, 255, 0.85);
$dark-header-background: rgba(30, 30, 30, 0.85);

// Авторизация
$light-auth-background: rgba(255, 255, 255, 0.7);
$dark-auth-background: rgba(30, 30, 30, 0.7);

// Логотип
$light-logo: url('/src/assets/img/logo/Logo.png');
$dark-logo: url('/src/assets/img/logo/LogoWhite.png');

// Светлая тема
$light-background: #f2f2f2;
$light-border: #e0e0e0;
$light-primary-text: #101223;
$light-secondary-text: #6e6e6e;
$light-primary-background: #ffffff;
$light-secondary-background: #f1f1f1;
$light-hover-background: #e1e1e1;
$light-accent: #d0322d;

// Тёмная тема
$dark-background: #111112;
$dark-border: #555555;
$dark-primary-text: #c9cccf;
$dark-secondary-text: #6e6e6e;
$dark-primary-background: #18181a;
$dark-secondary-background: #2a2a2c;
$dark-hover-background: #3d3d3f;
$dark-accent: #f14336;

// Миксин для применения цветовой схемы
@mixin theme-colors(
  $logo,
  $header-background,
  $auth-background,
  $background,
  $border,
  $primary-text,
  $secondary-text,
  $primary-bg,
  $secondary-bg,
  $hover-bg,
  $accent
) {
  --logo: #{$logo};
  --color-header-background: #{$header-background};
  --color-auth-background: #{$auth-background};
  --color-background: #{$background};
  --color-border: #{$border};
  --color-primary-text: #{$primary-text};
  --color-secondary-text: #{$secondary-text};
  --color-primary-background: #{$primary-bg};
  --color-secondary-background: #{$secondary-bg};
  --color-hover-background: #{$hover-bg};
  --color-accent: #{$accent};
}

// Применение миксина к каждой теме
[data-bs-theme='light'] {
  @include theme-colors(
    $light-logo,
    $light-header-background,
    $light-auth-background,
    $light-background,
    $light-border,
    $light-primary-text,
    $light-secondary-text,
    $light-primary-background,
    $light-secondary-background,
    $light-hover-background,
    $light-accent
  );
}

[data-bs-theme='dark'] {
  @include theme-colors(
    $dark-logo,
    $dark-header-background,
    $dark-auth-background,
    $dark-background,
    $dark-border,
    $dark-primary-text,
    $dark-secondary-text,
    $dark-primary-background,
    $dark-secondary-background,
    $dark-hover-background,
    $dark-accent
  );
}
