// Шапка, подвал и основная сетка
$header-width: 260px;

// Текст
$font-size-h0: 62px;
$font-size-h1: 22px;
$font-size-h2: 20px;
$font-size-h3: 18px;
$font-size-usual: 16px;
$font-size-small: 14px;
$font-size-micro: 12px;

$font-weight-bold: 500;

// Радиус
$radius-small: 8px;
$radius-usual: 12px;

// Внутренний отступ
$padding-external: 16px;
$padding-internal: 8px;
$padding-button: 4px 8px;

// Анимация
$transition: 0.3s ease-in-out;
